@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;

.flows-list-container {
    padding-top: ngx-variables.$spacing-lg;
    padding-inline: ngx-variables.$spacing-xs;
    height: 90%;
}