<pep-page-layout [addPadding]="true">
    <ng-container pep-main-area>
        <ng-container pep-main-area>
            <pep-generic-list [addPadding]="true" [dataSource]="listDataSource" uuidMapping="UUID" [showTopBar]="true"
                [inline]="true" [showSearch]="false" noDataFoundMsg="No data found" [supportSorting]="false"
                [title]="'Event_Flows_List_Title' | translate" [selectionType]="'single'" [actions]="actions">
                <ng-container right-buttons>
                    <pep-button [value]="'Add' | translate" [styleType]="'strong'" [sizeType]="'sm'"
                        (buttonClick)="createClicked($event)">
                    </pep-button>
                </ng-container>
            </pep-generic-list>
        </ng-container>
    </ng-container>
</pep-page-layout>

<pep-size-detector></pep-size-detector>