
        <pep-generic-list class="flows-list-container" [addPadding]="false" [dataSource]="listDataSource" uuidMapping="UUID"
            [showTopBar]="true" [inline]="true" [showSearch]="false" title="Events Flows list" [uuidMapping]="'ListKey'"
            noDataFoundMsg="No data found" [supportSorting]="false" [selectionType]="'single'"
            [actions]="actions">
            <ng-container right-buttons>
                <pep-button [value]="'Add' | translate" styleType="strong" sizeType="sm" iconPosition="start"
                    (buttonClick)="createClicked($event)" class="pep-spacing-element">
                </pep-button>
            </ng-container>
        </pep-generic-list>

<pep-size-detector></pep-size-detector>
