<pep-page-layout [addPadding]="false" >
    <ng-container pep-main-area >
        <pep-generic-list class="list-container" [addPadding]="false" [dataSource]="listDataSource" uuidMapping="UUID"
            [showTopBar]="true" [inline]="true" [showSearch]="false" title="Events Flows list"
            noDataFoundMsg="No data found" [supportSorting]="false" [selectionType]="'single'"
            [actions]="actions">
            <ng-container right-buttons>
                <pep-button [value]="'Add' | translate" styleType="strong" sizeType="sm" iconPosition="start"
                    (buttonClick)="createClicked($event)" class="pep-spacing-element">
                </pep-button>
            </ng-container>
        </pep-generic-list>
    </ng-container>
</pep-page-layout>

<pep-size-detector></pep-size-detector>
